<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为warn-->
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，
    当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<configuration status="warn" monitorInterval="30">
    <!--先定义所有的appender-->
    <appenders>
        <!--这个输出控制台的配置-->
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </console>

        <Flume name="eventLogger" compress="true" type="avro">
            <Agent host="node22" port="44444"/>
<!--            <Agent host="note1" port="4444"/>-->
            <RFC5424Layout enterpriseNumber="18060" includeMDC="true" appName="MyApp"/>
            <PatternLayout pattern="%m%n"/>
        </Flume>

    </appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <AppenderRef ref="eventLogger"/>
        </root>
    </loggers>

    <!-- <Loggers>
      <Logger name="org.apache.kafka" level="ON"/>
      <Logger name="org.springframework.kafka.listener.KafkaMessageListenerContainer" level="ON"/>
      <Root level="INFO">
          <AppenderRef ref="Console"/>
          <AppenderRef ref="infoLog"/>
          <AppenderRef ref="errorLog"/>
          <AppenderRef ref="debugLog"/>
      </Root>
  </Loggers> -->
</configuration>